html
  head
    title= title
    script(src="/js/jquery-3.4.0.min.js")
    link(rel="shortcut icon", type="image/x-icon" href=icon)
    style= css
  body!= html
    script var jsonData = !{json}
    script!= js